# Dependencies
**/node_modules/
node_modules

# Environment files
**/.env
.env
/server/.env

# Client-specific
/client/web_app/buy_ghana/.env
/client/mobile_app/buy_ghana/.env

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build directories
/dist
/build
.next/

# Miscellaneous
*.class
*.pyc
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws

# Mobile app specific (keeping your existing mobile configurations)
/mobile_app/buy_ghana/**/doc/api/
/mobile_app/buy_ghana/**/ios/Flutter/.last_build_id
/mobile_app/buy_ghana/.dart_tool/
/mobile_app/buy_ghana/.flutter-plugins
/mobile_app/buy_ghana/.flutter-plugins-dependencies
/mobile_app/buy_ghana/.pub-cache/
/mobile_app/buy_ghana/.pub/
/mobile_app/buy_ghana/build/
/mobile_app/buy_ghana/app.*.symbols
/mobile_app/buy_ghana/app.*.map.json
/mobile_app/buy_ghana/android/app/debug
/mobile_app/buy_ghana/android/app/profile
/mobile_app/buy_ghana/android/app/release